@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: 'Outfit', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

*,
*::before,
*::after {
	@apply m-0 box-border p-0;
}

html {
	scroll-behavior: smooth;
}

body {
	scrollbar-gutter: stable both-edges;
}
